-----BEGIN PRIVATE KEY-----
REEMPLAZA_ESTE_BLOQUE_CON_TU_CLAVE_PRIVATE_KEY_PKCS8_DE_LA_GITHUB_APP
No pegues una clave real en este archivo .example (es plantilla y se versiona).
La clave real va en jenkins/casc/github-app.pem, que está en .gitignore.
Genera/descarga la clave desde: GitHub -> Settings -> Developer settings ->
GitHub Apps -> tu app -> Private keys -> Generate a private key.
Conviértela a PKCS#8 si hace falta:
  openssl pkcs8 -topk8 -inform PEM -outform PEM -nocrypt \
    -in github-app.pkcs1.pem -out github-app.pem
-----END PRIVATE KEY-----
